[2018-03-18 18:58] #216 closed

[2018-03-20 17:05] Gabb1995 opened #219 "Website in readme not updated."
The website in the readme is not updated, only the one in the logo link is.

[2018-03-20 22:41] kbrsh commented on #219
Thanks for letting me know!

[2018-03-20 22:41] #219 closed

[2018-03-21 18:36] stephen-goveia commented on #214
@kbrsh So... when is v1 coming...? :)

[2018-03-21 22:08] kbrsh commented on #214
Hey everyone, sorry to keep you all hanging on v1. It was originally planned to be released early this year but I'm still not so sure about it.

I made a mistake by building so many features and creating so many breaking changes that keep on adding up—in the upcoming releases Moon will be updated in smaller increments.

I'm currently busy with school and travel but am working hard to find the time

[2018-04-19 00:09] DrPitLazarus opened #220 "AlgoliaSearchError: Invalid Application-ID or API key"
Search does not work on the documentation site. The console shows an AlgoliaSearchError with the message: "Invalid Application-ID or API key".

### Steps to replicate
1. Go to the [docs](https://kbrsh.github.io/moon/).
2. Open your browser's devtools and open console.
3. Type a query into search bar (ex: "model").
4. After a few seconds, the errors show in console.

### Error object
[code]

[2018-04-24 08:25] kokujin opened #221 "Custom delimiters"
I noticed that support for custom delimiters has been removed in the latest release, is there a workaround? I use the Nunjucks templating engine which uses the same delimiters. Thanks

[2018-04-25 20:03] herOwOw opened #222 "[question] jQuery with moon"
Hey, i'm using moon cli and after generating the project i'm working with moon router then i face this problem. after including jQuery script into index.html and  jQuery click function for a button, if i change the router to /admin and i click on button that being attached already with jQuery's click it wont work, until i refresh the page. any solution?

[2018-04-26 00:01] herOwOw commented on #222
the problem was in the router, since when i clicked on the router-link that lead me to the /admin page, jQuery is still loaded and the function that trigger the button exist in browser console , so when i tape again on the adresse or refresh somethings happened in the moon router then it works!
here my router setup like this:

`const Moon = require("moonjs");
require("./components/main.moon")(Moon

[2018-04-26 00:38] kbrsh commented on #222
When Moon Router loads a new page, instead of actually navigating to a new page, it changes the URL and updates the page using JavaScript. The button is likely being replaced with a new one when Moon builds the DOM — this is why Moon is not compatible with JQuery in most cases because it needs full control of the DOM. This is also the case with other frameworks.

I'd suggest attaching the event wi

[2018-04-26 00:57] herOwOw commented on #222
thx :) <3

[2018-04-26 00:57] #222 closed

[2018-04-26 01:05] kbrsh commented on #222
No problem!

[2018-06-01 14:29] riiccardo opened #223 "how to use vanila and jquery plugin in Moon.js"
hey tnx for u greate and lightweight js library i read the full documentaion ( cuz it's so small doc )

i dont see the doc about jquery and vanila usage in moon js

pls include more example..

thanks for helping

[2018-06-01 23:59] kbrsh commented on #223
You can use JQuery by accessing `this.$el` from a Moon component instance in the `mounted` hook and then initialize the plugin on a specific element. Here's an example of using `select2` with Moon: [jsfiddle.net/sjtr2vgw](https://jsfiddle.net/sjtr2vgw/).

[2018-06-02 09:06] riiccardo commented on #223
Thanks for it :heart:

Another qustion I have is how to use separate files for components like
dropdown.js, tooltip.js, and something like that

And import in generalFile.js like react.js

Import dropdown from "dropdown.js"

[2018-06-02 16:28] kbrsh commented on #223
No problem!

You can use single-file components using [Moon CLI](https://github.com/kbrsh/moon-cli), or do something like this:

[code]

[code]

[2018-06-02 16:52] riiccardo commented on #223
Thank you very much for responding quickly,
               [ componetName ⬇️   --   and what is this 👇  ? ]
`Moon.component("Dropdown",           [ dropdown ]);`

i see diffrent doc about components, [dropdown] in top code is template?
`Moon.component('my-component', {
  template: "<p>This is a Component!</p>"
});`

-------------------------

another qustion moon.js, dont need compiler or babel ?

[2018-06-02 17:05] kbrsh commented on #223
The component API looks like this: `Moon.component(componentName, componentOptions)`. `componentOptions` contains all options for a component similar to the ones of the root Moon instance.

Moon has a built-in compiler for Moon templates ([more information](https://kbrsh.github.io/moon/docs/compiler.html)).

I don't get what you're asking here. Moon router doesn't reload the page but rather manipu

[2018-06-02 17:18] riiccardo commented on #223
As you said, I use moon-cli

i understand the compiler so so :) but the doc...

And I'm having trouble with it, but it's more annoying is small documentation and advance examples for beginners

[2018-06-02 17:35] kbrsh commented on #223
Moon CLI components expose a different API:

[code]

I'm sorry for the small documentation — I'm the only person writing it and am not planning to add more as I'm [rewriting Moon](https://github.com/kbrsh/moon/tree/rewrite) and am writing the documentation for that instead.

[2018-06-03 10:57] riiccardo opened #224 "i have many event on elements how to handle it with m-on:click,focus,change,blur,resize,keydown ??"
im using moon.js and search for this isssue on web but do'nt find anything
here is simple code in your website i use
[code]
[code]

issue-1 :arrow_up:  : for each event we must use `m-on` ? or we can use `element.addEventListener("click blur focus change", function(){
})`

issue-2 :arrow_right:  : and how run public or private methods without any event in methods ?
like resize

issue-3 :arrow_down

[2018-06-03 17:32] kbrsh commented on #224
1. `m-on` is used for adding event listeners for any event, so yes — you use `m-on`
2. You can't run other methods because Moon doesn't have any way of accessing them. Just do something like this:

[code]

3. This is shown in the documentation for [slots](https://kbrsh.github.io/moon/docs/components.html#slots).
4. Once again, this is shown in the documentation for [components](https://kbrsh.githu

[2018-06-04 11:29] riiccardo commented on #224
before everything thanks for response 👍

can we use simple tag like header insead of template ? && after compile named like file name ?

my mean => before compile `<template>` ==> after compile ==> template transfrom to file name(header.moon) ? `<header>` ? Because we did not specify in the `.moon` file what the name of the component is

[code]
What is your suggestion ? use `moon-cli` like most js

[2018-06-04 17:31] kbrsh commented on #224
A single file component is named from the filename (`header.moon`). The `template`, `style`, and `script` tags are used because they mark the different parts of the component.

`moon-cli` already bundles the scripts together. In a production setting I'd recommend using the CLI as it precompiles your templates. For simple experiments you can just use the browser version, trading off convenience for

[2018-06-07 13:39] riiccardo opened #225 "how to use <other-component> in another component template: ` ? ` ?"
for understanding more i include example

i have `home.js` and `home.js` include  components like `header` `sidebar` `main` and `footer`

each component a separate file is created by `Moon.component` and linked in one script and exported for import in `home.js`

`home.js`

[code]
my qustion is about home js template: `` how to use another component inside it

`app.js`
[code]

`index.html`
[code]

[2018-06-07 14:03] riiccardo commented on #225
sorry its my bad
i dont use `./` for import
[code]

im using Moon and Webpack Its very good repository
Thanks to @imlinus to create this boilerplate
https://github.com/imlinus/MoonJs-WebPack-ES6-SCSS-Boiler

Another qustion i have how to write currently in template: `` ?? because one Component will rendered

[code]

[2018-06-07 16:14] riiccardo commented on #225
any idea ??

[2018-06-07 16:35] riiccardo commented on #225
I fount my problem... to be able for include `components` into another component `template` u must create a wrapper or parent for them and then define ur module layout like Header Main Footer

solution 👇

[code]
GL & HF 😄

[2018-06-07 20:49] kbrsh commented on #225
All components in Moon need to have one root element, and are registered globally so you don't need to `import` them. You just need one `Moon` that registers all components and they will automatically be available.

[2018-06-12 00:28] riiccardo opened #226 "How to use m-for in component template using Webpack"
All details are given in jsfiddle pls take a look

[JsFiddle Here](https://jsfiddle.net/0ung3xkh/50/)

my problem is similar issue #205 but with **a little bit of difference**. i dont get logic of `m-for` and `item` or `every name we want and not item` or `item in items` ???
`list in lists` or `item in lists`

like moon exampls `record in commits`

pls explain `m-literal:list="list"` too

thanks p

[2018-06-12 00:29] #223 closed

[2018-06-12 05:42] kbrsh commented on #226
Check [this](https://jsfiddle.net/0ung3xkh/55/) out for an annotated example. Let me know if I answered your question.

[2018-06-12 11:39] riiccardo commented on #226
[MoonIssue.zip](https://github.com/kbrsh/moon/files/2093749/MoonIssue.zip)
**pls download file and use `npm install` then use `npm run dev`**

in this case
i provide file issue if parent and child and general moon is separate files like
* app.js
     * pages => parent.js
          * parentComponent => child.js

[2018-06-12 21:04] kbrsh commented on #226
1. Props are like arguments you pass to a component. As a result, the root instance and parent component do not require it.
2. That's because it is rendering the list prop provided to it by the root Moon instance.
3. Here's a better way of saying it — the root Moon instance is a component.

[2018-06-12 21:36] riiccardo commented on #226
You see `MoonIssue.zip` ? What is your idea about it ?

I'm beginner pls provide an example or explain more

About what is root ? General moon ( `new Moon` )??

Another thing I get from ur comment ( **maybe understand maybe not** ) we can use new Moon in another component OR pass the `root: "#target"` option in Moon.component ?

[2018-06-12 22:59] riiccardo commented on #226
Pls help to pass this problem I swear the god  don't open new issue :laughing: :cry:

[2018-06-13 00:39] kbrsh commented on #226
I don't currently have time to look into your case specifically. Root is `new Moon`. Basically, there is a class `Moon` that every component is a subclass of. This means that running `new Moon` creates a new instance of this class, _and_ running `Moon.component` and using it in a template will create a new instance of the class. As a result, `new Moon` and `Moon.component` take the same options, w

[2018-06-13 09:46] riiccardo commented on #205
@kbrsh can u update @kokujin jsfiddle ???

[2018-06-13 11:33] riiccardo commented on #226
@kbrsh

pls look this [CODEPEN](https://codepen.io/riccardo051/pen/wXeJNV)

Have a look at this file as `MoonIssue.zip`

Do not need to do anything, just look at one

i just copy ur jsfiddle and I separated the files from each other, and using module type file and imported to one codepen

it is the `childComponent` => [**`Child.js`**](https://codepen.io/riccardo051/pen/LrLWJe)

and its the `parent

[2018-06-13 11:39] riiccardo commented on #226
If I want to explain briefly:

1- i just copy each section in jsfiddle and created separate files like `child.js` - `parent.js` and `app.js`

2- i imported them to one the `root` or `new Moon`

3- this issue apear when we use separate files and console threw this error: Moon is not define

[2018-06-13 20:52] kbrsh commented on #226
Moon registers components globally, you don't need to `import` them to use them. You just need to be able to get the file running to create the component on the `Moon` library.

[code]

[2018-06-14 10:20] riiccardo commented on #226
i change my all files working on moon to your comment but still have problem

even i changed my codepen to `export function` but still have error

your export function have mistake `arrow function` and must something like this

`export initComponent(Moon) => { }` let's miss this mistake

You did not understand my problem correctly if you downloaded [this](https://github.com/kbrsh/moon/files/209374

[2018-06-14 13:20] kbrsh commented on #226
Ahh I switched between the syntax haha.

Your codepen doesn't work because the child component is still being registered incorrectly. You need to import both child and parent component initialize functions in `app.js`.

[2018-06-14 14:20] riiccardo commented on #226
i think i have to solve problem by my self and look vuejs issue 🚶

[2018-06-14 20:46] kbrsh commented on #226
I gave you a solution. It's your job to apply it — I'm not here to write _your_ code, but am willing to help.

[2018-06-14 20:47] #226 closed

[2018-06-14 20:47] #225 closed

[2018-06-14 20:47] #224 closed

[2018-06-19 17:59] riiccardo opened #227 "moon-cli qustion"
A few days ago I saw a video about vue-cli

here the codes in video:
### **`Message.vue`**
[code]
[code]

can we use `components: { }` for naming the components in moon templates ??
-------------------------------------------------------------------------------------------
and something i see in video he wrapp all the thing to `App.vue` insead of `index.html`

### **`App.vue`**
[code]
[code]
how c

[2018-06-19 20:44] kbrsh commented on #227
1. All components are registered globally so you cannot declare them like that.
2. Just have the template of the root instance be `<div><App/></div>`.

[2018-06-21 13:18] riiccardo commented on #227
have question about 1:

I have components like

`header.moon`
.
.
`footer.moon`

and

`Home.moon` for include `require("./components/header.moon")(Moon);` top components in it

`Moon.moon` Root file new Moon

u say i don't need to include them in child component like `Home.moon`

and u say include them all in `Moon.moon` root file ?

so you say components are registered global
what is global means

[2018-06-23 01:59] kbrsh commented on #221
There is currently no workaround but it may be possible to add them in v1.

[2018-06-23 01:59] #227 closed

[2018-06-23 02:00] kbrsh commented on #220
Thank you for letting me know! This looks an issue with the recent domain name changes. I'll look into it.

[2018-06-23 02:01] #212 closed

[2018-06-23 02:01] #206 closed

[2018-06-23 02:02] #197 closed

[2018-06-23 02:03] kbrsh commented on #196
Closing in favor of #221

[2018-06-23 02:03] #196 closed

[2018-06-28 19:35] riiccardo commented on #227
require works but :

1- two component like `header` and `footer` require in Root moon,
and use component name tag in index.html

[code]

when moon refresh localhost tab just one component will be rendered like header

console error :
- t.moon or t is not defined
- n.moon or n is not defined

2- how to use `MoonRouter` in seprate file or in Root file
const MoonRouter = require....

[2018-06-28 20:52] kbrsh commented on #227
In HTML, tags are automatically turned into lowercase before the JavaScript is even executed — this makes it impossible for Moon to detect capital letters in component names unless the template is passed in the `template` option.

You create a `router` using `new MoonRouter()` and export it. In `scripts.js` you can then `require("router.js")` and pass it to `new Moon({ router })`.

[2018-06-28 20:56] riiccardo commented on #226
solution for m-for issue:

`global.Moon = require("moonjs")`

`m-literal:NameOfArray="NameOfArray"`

`and Props`

[2018-06-28 21:14] riiccardo commented on #227
and cuz we use es5 we must export router like this ?

[code]

[2018-06-28 21:29] riiccardo commented on #227
if we have many many components we must require them in root file ?

that's so bad look this example:

[code]

any solution for this @kbrsh ?

[2018-06-28 21:47] riiccardo commented on #227
another question about moon update to version 1

when v1 will be release ?
what v1 is improvement ?
what is v1 features ?
and when we have better documentation :rofl: :+1:

[2018-06-29 02:55] kbrsh commented on #227
You can use a loop.

[code]

I'm rewriting v1 and the alpha will be released very soon (around next week). Check out the [rewrite](https://github.com/kbrsh/moon/tree/rewrite) branch for my current progress and join the [Slack](https://moon-slack.herokuapp.com) where I regularly post updates.

[2018-07-01 09:33] riiccardo commented on #152
i like `moon` simple :gem:

 just imagine the `.melo` format on files :| :scream:

If you think about the `Moon`, two things will come to your mind: **`1- moon`**  **`2- earth`**
Suppose the `earth` is a `Vue.js` and `moon` is `Moon.js` :||||||

`moon` is lightweight than `earth` ===> :tada: `moon.js` Small file size (7kb minified + gzip)

`moon` faster than `earth`  ===> :zap:  Blazing fast perfo

[2018-07-01 11:03] riiccardo commented on #130
@kbrsh

for example i have `button.moon` so i have two way to show moon these are `components` and not `HTML tag` :

1.  `button.moon` ====> `Button.moon`  ( lowercase to UPPERCASE )

for this one in html i use `<Button></Button>`

-----------------------------------------------------------------------------------------

but in 2

2.  `name` option in , i chose `name` for `button.moon` so i can us

[2018-07-01 17:10] kbrsh commented on #152
@riiccardo As I said above, I'm keeping the name Moon :)

NPM Name: `moon`
File Format: `mvl`
Twitter: TBD

[2018-07-01 17:11] kbrsh commented on #130
@riiccardo Yes, the `name` option will override the filename as the name for the component.

[2018-07-14 09:43] riiccardo opened #228 "Still waiting for v1 :|"

[2018-07-14 17:51] kbrsh commented on #228
Please stop making issues like these — they aren't helpful and contribute nothing to the project. I'm one person working on making this happen and I'm working on the documentation for the alpha.

[2018-07-14 17:51] #228 closed

[2018-07-19 01:11] kbrsh commented on #214
@buckle2000  @stephen-goveia v1 is released! :tada:

[2018-07-19 01:11] #214 closed

[2018-07-19 01:11] #195 closed

[2018-07-19 01:12] #192 closed

[2018-07-19 01:12] kbrsh commented on #191
@Marc-oO @TotallyInformation I'd recommend porting this to v1 if you're still working on it by any chance. Closing for now.

[2018-07-19 01:12] #191 closed

[2018-07-19 01:16] kbrsh commented on #178
[Should be working with v1](https://jsfiddle.net/tk55qt26/26/)

[2018-07-19 01:16] #178 closed

[2018-07-19 01:19] kbrsh commented on #199
`update` is now used internally to set props, so a warning would not be plausible. Closing for now but am open to discussion.

[2018-07-19 01:19] #199 closed

[2018-07-19 01:20] kbrsh commented on #184
v1 is compatible with shadow DOM running alongside Moon but does not use it.

[2018-07-19 01:20] #184 closed

[2018-07-19 01:21] kbrsh commented on #173
This works in v1 by doing:

[code]

[2018-07-19 01:21] #173 closed

[2018-07-19 01:23] kbrsh commented on #168
Closing for now as components in v1 can still be added in runtime and require compilation, but am open to discussion.

[2018-07-19 01:23] #168 closed

[2018-07-19 01:24] kbrsh commented on #147
v1's docs don't have a specific section on performance comparisons to avoid controversy — benchmarks can be inaccurate when used to evaluate real-world performance.

[2018-07-19 01:24] #147 closed

[2018-07-19 01:39] dmjio commented on #152
@kbrsh great work.

[2018-07-19 02:51] rizkyramadhan opened #230 "moon v1 lifetime"
Congratulations for releasing moon v1 🎉

I see a lot of change, obviously my current moon project is obsolete now.

I am firm believer of moon, but the case of many breaking change like before make me think. What if my moon project will be unsupported by next month version of moon. Can I base my work on moon v1 ?

[2018-07-19 02:58] rizkyramadhan commented on #230
The one that hook me to moon is:

"10kb ui framework that taste like vue", I know that is not your promise, but that is the one that hook me.

i'm not seeing that in moon v1

[2018-07-19 03:04] terrybr commented on #230
This is a complete rewrite, and I doubt that @kbrsh will rewrite it again next month.  Right now it's a beta version so I don't think you should use it in production yet.

As for what hook you to moon:

"Small file size (3kb minified + gzip)" is on the moon's Github summary page.

[2018-07-19 03:06] rizkyramadhan commented on #230
So what is the life expectancy of moon v1 ? a month, three month ?

[2018-07-19 03:11] terrybr commented on #230
It needed a complete rewrite because some bugs were hard to fix.   I believe this is a solid foundation of moon.

This is a beta version so life expectancy of the beta depends if more people would contribute to the beta testing.  As I said, there will not be a complete rewrite of moon each month.

[2018-07-19 03:14] rizkyramadhan commented on #230
Yes, i know what beta is... but when v1 is released, I think we have to set some guarantee that it will not change in X month.

[2018-07-19 03:19] kbrsh commented on #230
@terrybr Is right — it took over a year of development to rewrite Moon into v1. This time, I started from scratch with a simple philosophy and developed Moon from there. You can expect there to be little to no breaking changes in the foreseeable future.

Also, your current project isn't obsolete — that changes aren't super drastic but just make the API cleaner and more consistent — it should be do

[2018-07-19 03:19] #230 closed

[2018-07-19 03:37] fredooer opened #231 "Documentation's top nav links broken"
Congratulations on launching Moon 🌙 v1 🎉👍
Links in the top nav documentation are broken and redirect to a **404 page** (except the logo).

Probably they need to go back a directory, like the logo does on line 32:

https://github.com/kbrsh/moon/blob/gh-pages/doc/about.html#L32

`../doc/guide.html`

Or try using absolute paths.

See issue here: https://kbrsh.github.io/moon/doc/guide.html

[2018-07-19 03:44] kbrsh commented on #231
Thank you for letting me know! This along with a couple of other issues popped while moving from a directory to a branch.

[2018-07-19 03:46] #231 closed

[2018-07-19 23:21] Marc-oO commented on #191
Thank you for the information, i ll use the v1 during the next refactoring session :D

[2018-07-20 14:17] TotallyInformation commented on #191
Thanks, as things have moved on, this is fine.

[2018-07-25 14:47] jutxle opened #232 "Parcel unable to build on Windows"
OS: Windows 10

Issue: Path separators are being lost, resulting in unresolveable filenames

![image](https://user-images.githubusercontent.com/7784312/43207920-27fecfca-8ff7-11e8-8801-5fd25eab0da6.png)

[2018-07-26 20:49] macelocosta opened #234 "moon-cli error while creating project"
OS: Win10
Error: when I try to create a new project using moon-cli, it throws the following error:

[code]

Inside the directory where I call it, some empty folders are created, as the image below shows.
![captura de tela 1](https://user-images.githubusercontent.com/22543290/43287564-ce06bd2e-90fb-11e8-8c0d-7fa289f92cd0.png)
moon-cli version is 1.0.0-beta.1 and Node version is 8.11.3.

[2018-07-26 21:32] kbrsh commented on #234
Looks like making the directory failed and you might not have `tar` installed on your system. Test it out and let me know if it is installed.

[2018-07-26 21:51] macelocosta commented on #234
I didn't have `tar` installed, but even after installing it, the same error occurred.

[2018-07-27 04:09] vitaly-t opened #235 "Great Work!"
This is a very interesting solution, though I feel robbed - it promised a 3Kb after compression, and it's actually whole 8kb :smile:

I found this library while having started on [my own](https://github.com/vitaly-t/excellent) version of a mini-DOM framework. No worries, it  is very different from what you do here , I'm just looking to steal some ideas for running tests :smile:

[2018-07-27 14:21] kbrsh commented on #235
Thanks! It’s actually 3kb minified and gzipped. I’m still working on tests for the beta since there are still a couple of changes I need to make.

[2018-07-27 14:22] kbrsh commented on #234
I think the issue may be the semicolon — once I get back from vacation I’ll look more into it.

[2018-07-27 14:37] vitaly-t commented on #235
I know, I was just joking :) I'm working hard on my framework too, only I got stuck trying with automated tests, trying to find a good way to test DOM modifications. Tests sometimes can be a real bummer.

[2018-07-27 14:45] vitaly-t commented on #235
It would be nice to share some experience writing things like that ;) Just so, once again, yours is a mini UI framework, while mine is a mini DOM manipulator, so quite different things ;)

By any chance did you come across any issues exporting the library's root interface? You did you use the current approach from the beginning? I'm using the stupid `window` for now, which has issues in the IE, an

[2018-07-27 16:40] vitaly-t commented on #235
Thank you for the suggestions! :smile: I'm not sure if I will use roll-up yet, since my library is even smaller than yours, and currently sits in just one single file.

And I was able to sort out the IE-related issues related to global variables. I founf out the hard way that if you include a script as `<script src="../src">`, only IE failed to load the default `index.js`, it requires the full `<s

[2018-07-27 21:13] kbrsh commented on #235
Haha IE can be a hassle ;)

Let's continue this discussion over email (available on [my site](https://kabir.sh)) as I don't want to use issues for discussions like these.

[2018-07-27 21:13] #235 closed

[2018-07-28 17:56] kbrsh opened #236 "Keyed Loops"
Loops need an option to be keyed in order to reorder components and preserve state.

[2018-07-30 16:18] vitaly-t commented on #235
@kbrsh Yep, thank you! I have also added [chat](https://gitter.im/vitaly-t/excellent) to [the project](https://github.com/vitaly-t/excellent), I appreciate if you offer an opinion and/or help with anything. Cheers!

[2018-08-18 17:05] danielo515 opened #237 "Computed properties"
Hello.

I'm trying to make computed properties work, but it is being an imposible task. Every time I try to access a computed property I get a different error. If I try to iterate a computed properties I get an error related to length of undefined, if I just try to sow the property I get an weird error about an unexpected token `)`:

[code]

[code]

[2018-08-19 01:51] kbrsh commented on #237
There are a couple of issues with your example.

1. Components are made with `Moon.extend`, not `Moon`.
2. Computed properties exist, but aren't documented yet and use a different way without the tedious `computed` object.
3. In your template, you use `{{keys}}` but the current syntax uses single curly braces.

I'd recommend reading through the documentation or refactoring further, but I'll keep t

[2018-08-19 19:37] kbrsh commented on #237
With the last few commits, I refactored how data is created in components. Computed properties now work like this:

[code]

It should be releasing soon with Moon v1 beta 3.

[2018-08-21 12:31] danielo515 commented on #237
Hello @kbrsh
I read the documentation extensively and I didn't found any reference to computed properties. If you can point me to the correct section I'll be grateful.
I also researched old issues and code examples on the test folder and I tried all that I found there without luck. I didn't open the issue at first sight, I promise.

The new syntax seems nice, looking forward for it

Regards

[2018-09-11 19:22] nathnolt opened #238 "Boolean attributes"
It doesn't seem to be possible to set boolean arguments based on state.

Example
[code]

but having disabled based on state, so something like

[code]

I want this for select options.

If this is in fact possible, then it wasn't clear to me from reading the docs (Or I missed it).

Thank you.

[2018-09-17 14:02] s-melnikov commented on #238
[code]

[2018-09-20 03:31] 132yse opened #239 "virtual DOM and diff ？"
I've seen moonjs trigger data changes with `update `and recompile `view`, Although it is accurate enough, but is it virtual DOM and diff not better?

[2018-09-20 05:11] kbrsh commented on #239
Moon used to use a virtual DOM. Now, it compiles views into direct JavaScript code — it is never "recompiled". Virtual DOM works by creating an abstraction over the normal DOM. When a change is made, Moon used to iterate through the new virtual DOM, compare it with the old virtual DOM, and use _normal DOM_ operations to update the view.

With v1, instead of having to have the abstraction of the vi

[2018-09-20 05:11] #239 closed

[2018-10-24 13:03] kimlombard opened #240 "Uncaught TypeError: _moon.default.use is not a function with Moon.use(MoonRouter)"
How do I use moon-router and monx? I've installed both via npm and am unable to use them. Does the moon.js v1.0.0-beta.2 source require a use function (it seems it was there in v0.11.0 and had to do with plugins).

The docs for both moon-router and monx mention

[code]

Is there some other way to use them?

[2018-10-24 14:13] kbrsh commented on #240
Currently, Moon Router and Monx are not supported for use with v0.11.0. I'm still working on an implementation for them, and they should be out once Moon v1 releases.

[2018-10-25 02:00] kimlombard commented on #240
Great to hear and keep up the great work!

[2018-11-03 13:20] Rukenshia opened #241 "Component Syntax for "For" does not work"
Hi,

just found out that the syntax described in the docs does not work:

[code]

results in:
![image](https://user-images.githubusercontent.com/1899599/47952696-a3f86c00-df73-11e8-8134-07b13e849ccf.png)

[2018-12-05 18:55] ivangrimaldo opened #242 "HTML parse from data object"
Hi Im getting the data prom an api but the content is html formatted, my question is how I parse to render correctly because I'm getting the string not the html inside my view:

[code]

[2018-12-06 13:42] dustincleveland opened #243 "Interpolation does not work within HTML attributes"
[code]

In the example above, `{$x}` and the first instance of `{$index}` will be rendered. However, none of the `{$index}` bindings in the select element's attributes will be rendered. Instead, the HTML that is rendered ends up being `Form[{$index}].Value`.

[2018-12-10 08:19] riiccardo opened #244 "Is the project active?"
hey @kbrsh , i still waiting for newer version of moon

and stable moon-cli too coz still does not work

in newer version pls turn back v0.11.0 syntax :))

 for :
1- `Separating sections of each other like ⬇️ `
2- `methods`
3- `hooks`
4- `data object`
5- `Most importantly, it looks like vuejs`

In the new version, everything is done in one section 🤕

can we have version 0.11.0 documentation ?

Tha

[2018-12-24 23:59] kbrsh commented on #244
Hey @riiccardo!

I had finals week and was busy with school work for a while. Fortunately, they went well and I have time to work on Moon now!

I am happy with the direction Moon is going in, and I think that it is much simpler without the different sections. It unifies all of the various types and makes a Moon instance more flexible and intuitive.

Moon will be different from Vue and the goal is

[2018-12-25 00:01] kbrsh commented on #243
Moon v1 only supports dynamic attributes with the `key={value}` syntax. However, I am open to changing this to support the previous syntax given enough support.

[2018-12-25 00:07] kbrsh commented on #242
In Moon v1, there is no current way of directly setting `innerHTML`. I am planning support for this with an `innerHTML` attribute.

[code]

[2018-12-25 00:08] kbrsh commented on #241
Not sure what is causing this issue. I'll look into it and am planning to update the alternate syntax for `<For>`.

[2018-12-31 02:01] faststare08 opened #245 "linking of mvl external file"
it seems that doesn't support external file with in-browser development because i received an error if I linked it. please kindly fix that. thanks

[2018-12-31 02:17] kbrsh commented on #245
Can you provide a reproduction or more information?

[2018-12-31 06:50] faststare08 commented on #245
i want the view argument(of new Moon) should be separated as external file instead of swimming in html file.
my suppose file structure is:
-index.html // view
-view.mvl // view
-index.js // model / viewmodel
I tried to separate them in that fashion but I received when I did that.

[2018-12-31 07:39] kbrsh commented on #245
Separate file views aren't supported. You can write code in your CSS/JS files and use `import` if you want to separate them into different files. The view must always be in a `.mvl` file, not HTML like in your example.

[2019-01-01 16:44] faststare08 commented on #245
can you sight an example?

[2019-01-01 20:43] kbrsh commented on #245
[code]

[2019-01-02 17:18] dustincleveland commented on #243
My mistake then. I must have seen that interpolation worked in text elements and assumed that it would work in attributes as well. This is a pretty common feature of most view binding engines I've encountered, so I'd definitely recommend it. But, at the very least, it may be helpful to add a note about this to your documentation on your website.

[2019-01-06 17:02] Lomomn opened #246 "Import libraries to use in components"
How should I be importing libraries for use in components?

I am using the default template provided by Moon-CLI, but I have no idea how to import and use axios.

Sidenote: it's hard to find answers to questions on the issues page because a lot of the syntax has changed since the question was asked. Is there an api doc somewhere that I don't know about with information on every available function

[2019-01-06 17:52] kbrsh commented on #246
Libraries can be used in components by installing them and then using `import` syntax — this works just like it does in JavaScript and can be used to import files and libraries.

[code]

Thanks for the feedback. There is no API doc but everything should be covered in the documentation, and I'll likely make one when I've finalized the API.

[2019-01-06 18:31] Lomomn commented on #246
If I import axios in index.js, I cannot access it in Index.mvl. I get an axios is not defined error. Do I need to use Moon.extend? I have tried `Moon.extend('axios', axios)`, but that returns the same error.

[2019-01-06 19:43] kbrsh commented on #246
Sorry if I didn't make it clear. `Moon.extend` is for creating components. Inside of an `mvl` file you can have a `<script>` tag with relevant component options. You can use `import` inside to access libraries and files.

[code]

[2019-01-06 19:47] Lomomn commented on #246
[code]
Gives me the error
` /frontend/js/components/Index.mvl:12:0: 'import' and 'export' may only appear at the top level (12:0)`

[2019-01-06 21:17] Lomomn commented on #246
I'm assuming this is an issue with Parcel, so I guess I'll look into that

[2019-01-06 21:18] kbrsh commented on #246
Ahh I see. It's not an issue with Parcel. The MVL compiler puts the `import` inside of a function. This behavior has been fixed in the last few commits, and I'm hoping to release a new beta soon. For now, I'd suggest using a global variable for `axios`.

You can create a `.babelrc` in the root directory and create something like:

[code]

Let me know if that works.

[2019-01-06 21:36] Lomomn commented on #246
I created the .babelrc but I still get the same error.

[2019-01-06 21:51] kbrsh commented on #246
You can remove the import statement from the component, because the `import-globals` plugin should import it automatically into every file. I think the browser error is because Parcel isn't using its' default Babel configuration. Try adding the following to the `.babelrc`:

[code]

[2019-01-06 21:56] Lomomn commented on #246
That works! Thanks :)

[2019-01-06 21:56] #246 closed

[2019-01-09 20:18] sadeghbarati opened #247 "Update Example"
hi @kbrsh

pls add 0.10.0 examples to new moon like

`slash`
`wade`
`firebase`
`how to use external library like javascript or jQuery plugin in new moon`
`algolia search in new moon`

but in new moon example section we have one :sob:

`todos`

[2019-01-22 18:38] faststare08 commented on #245
its not working if I used moon cdn(in-browser dev only).

[2019-01-23 06:39] kbrsh commented on #245
MVL files aren't supported with in-browser development, as it requires a separate compiler to create code for the browser. You'll have to use Moon CLI to use MVL, or will have to use other supported in-browser methods for importing files.

[2019-01-30 18:03] Lomomn opened #248 "onCreate() doesn't have access to "this""
[code]

Gives me the error:
[code]

Did I do something wrong?

[2019-01-31 00:34] kbrsh commented on #248
It seems to be working [with this reproduction](https://jsfiddle.net/cedhn4st/1/). What version of Moon are you using? Try logging `this` and verifying if it is `undefined`.

[2019-01-31 00:57] Lomomn commented on #248
Moon v1.0.0-beta.2 too. Here it is in component format https://github.com/Lomomn/WebstackTemplate/tree/master/frontend

When I add onCreate like in my example above and console.log(this), this===undefined.

[2019-01-31 15:40] Lomomn commented on #248
Any ideas?

[2019-02-01 15:12] Lomomn commented on #248
I also tested this with the moon-cli application and I still get the this===undefined error

[2019-02-01 19:39] kbrsh commented on #248
Looks like a bug. However, I think it has been fixed in 67b32ae39283d7ba6f1b897e8ea9d6c846f52f5f. The way it works using prototypes isn't compatible with the compiler though, but I'm working on it.

I can't think of any workarounds right now, let me know if you find something or have any questions.

[2019-02-01 19:46] Lomomn commented on #248
Ok, thanks for looking into it. I guess this means I have to fire up Vue again, huh?

[2019-02-01 19:48] kbrsh commented on #248
Using another library would be good for now as Moon becomes a little more stable. Thanks for the bug report :)

[2019-02-01 19:53] Lomomn commented on #248
No worries :)

[2019-02-01 19:53] Lomomn commented on #248
Do you know of any other minimal libraries like Moon?

[2019-02-01 19:59] kbrsh commented on #248
I don't know of any with a similar API, but check out Preact or Hyperapp. I'd also prefer if you could move this conversation to the Slack and keep GitHub only for discussion on issues :)

[2019-04-10 10:29] mathiasrw opened #249 "Q: Pass data to component?"
Is it possible to pass data to a component?

Example:

Lets say i have a component displaying a button.

I would like to iterate over a list of words and calling the button component in a way so the button can display the right name.

I guess what i am asking is actually: how can a component access data from the context in which it was "called"

[2019-04-10 23:05] terrybr commented on #249
If you go to the Moon Slack page, Help section,  I asked Kabir how to do something very close to what you're asking.   https://moonjs.slack.com/messages/C78U8RUCE/  (scroll up and you'll see what I'm asking).

[2019-04-11 00:20] kbrsh commented on #249
Yes, it is possible through arguments. Any data you pass to a component through the attributes in your template are automatically added to its state. See [this section](https://kbrsh.github.io/moon/doc/components.html#arguments) in the documentation for more.

[2019-04-13 23:00] #249 closed

[2019-04-24 00:14] w33zy commented on #241
I have just started using Moon I am also getting this error...

[2019-04-25 01:12] kbrsh opened #250 "Moon v1 Roadmap"
After a few betas, I think it's time to lay out the final list of features or changes that still need to be implemented for the next release.

* [ ] Moon Executor
  * [x] Perform view and diff phases over multiple frames.
  * [x] Perform patch phase in one synchronous batch.
  * [ ] Concurrently process asynchronous components.
* [ ] `<Node/>` component that acts as the identity function.

  Examp

[2019-04-27 02:37] anonimusprogramus commented on #250
Hi @kbrsh.

Some minor comments:

1. For, If, Else be lowercase, easier to type.

2. Else has Else too, just in case Array or Object is falsy.

3. Built-in router, assuming Moon has already props and methods as Store.

4. Discord channel, maybe.

Thanks

[2019-04-27 03:55] kbrsh commented on #250
Hey @anonimusprogramus!

Thanks for the feedback.

1. I've considered this and I think I'll for it since it'll be consistent with the `<text>` component used internally.
2. I'm not sure about this one. It's a rare construct and the only other language that I know that implements this is Python. It can make things confusing to read, and can be replaced with an if/else component with the for loop in

[2019-04-27 04:01] anonimusprogramus commented on #250
Thanks for your reply.

#2, actually I borrow the idea from Svelte 😅

#3, officals/ecosystems would be awesome

Thanks, nice to have you back again.

Cheers!

[2019-04-27 20:59] kbrsh commented on #250
Interesting. I personally think that it's more clear to have an explicit `if`/`else` with a `for` inside because `for`/`else` can be easily confused as a mistake.

[2019-04-27 21:04] kbrsh commented on #244
Closing now because development has picked up and new betas and RCs should be released soon! The v1 roadmap (#250) is open for discussion and feedback.

[2019-04-27 21:04] #244 closed

[2019-04-28 07:13] kbrsh commented on #245
Closing because mvl is only supported in a Node environment through Moon CLI.

[2019-04-28 07:13] #245 closed

[2019-04-28 07:18] kbrsh commented on #243
This change will require a significant amount of extra weight to the compiler, and I think that the utility it provides isn't worth it. In addition, libraries like Vue don't support it either. Closing for now but I may consider it if there is enough support for the idea.

[2019-04-28 07:18] #243 closed

[2019-04-28 07:51] kbrsh commented on #236
Closing because there is no local state in Moon v1.

[2019-04-28 07:53] kbrsh commented on #123
Components now have access to child elements through `children`. However, they don't have local state anymore so this component would be implemented differently anyway.

[2019-04-28 07:53] #123 closed

[2019-04-28 08:12] #238 closed

[2019-05-04 15:13] #248 closed

[2019-06-07 03:24] dingjibang commented on #242
@kbrsh excuse me, Is there a way to set innerHTML for a dom now?

[2019-06-11 00:48] kbrsh commented on #242
This was implemented in c206837d6b3b1bf620b801e0c025e1171e5aafc1.

[2019-06-11 00:48] #242 closed

[2019-06-11 00:51] kbrsh commented on #241
This now works with the rewrite:

[code]

[2019-06-11 00:51] #241 closed

[2019-06-11 00:53] kbrsh commented on #221
I don't think I'll add custom delimiters because of how closely integrated they are with the compiler. If this becomes a big enough issue then I might consider it, but for now I'm closing this.

[2019-06-11 00:53] #221 closed

[2019-06-11 00:54] kbrsh commented on #143
Bind was removed in v1 in favor of a more explicit design — it can be implemented by changing the `value` and adding an event listener to an input, or by using a higher-order function that generates such event listeners.

[2019-06-11 00:54] #143 closed

[2019-06-11 00:55] kbrsh commented on #96
Moon v1 now uses `.className` to set everything, so this issue should be fixed.

[2019-06-11 00:55] #96 closed

[2019-06-13 23:23] riiccardo commented on #250
I'm still waiting for the word beta to be removed from `moon.js`
in new version

wish I could help you do this...
but Good Job any way dude 👍

[2019-06-14 02:50] kbrsh commented on #250
I'm working on it haha — currently I'm working on the performance and removing any deoptimizations from v8 along with the documentation.

After that, the only thing left is to make an official router module.

[2019-06-14 08:06] riiccardo commented on #250
pls add this list after router module done :

1. Fix `moon-cli` coz its generate Weird things.
2. or just create a best boilerplate for it instead of `moon-cli`
3. Add `moon-compiler` for bundlers like `webpack` and `rollup`
4. Live example of `moon-ssr` with `parcel` , `webpack` or `rollup`

PS3. `webpack` and `rollup` have faster compile than `parcel`

[2019-06-14 08:18] kbrsh commented on #250
Yup! I'm working on the CLI and boilerplates. I'll likely add webpack and rollup support as well, but those can progressively be released after v1's core modules are released.

[2019-06-14 11:00] riiccardo commented on #250
awesome 🥂

pls update **Moon** in [js-framework-benchmark](https://github.com/krausest/js-framework-benchmark/pull/212)
to see what happening in new version

thanks 😄

[2019-06-15 10:19] kbrsh commented on #250
I'm actually working on a new implementation of it now, and I have been tuning the compiler and executor to be as efficient as possible while also being asynchronous (similar to React's time slicing).

For example:

* 03ced07231899f06945b5f5ca48dc82356070ec8 two-phase executor
* 808ff5067dd5bb8b59860b1a4e49ec8cf9564ea1 view-patch executor
* 816f1bf5d64e8486a7032440169f9cf1b86f5a4f optimizing node

[2019-06-17 21:44] kbrsh commented on #250
Here are some preliminary performance results! Keep in mind that these ran on my machine, and the results will likely be different when made official. However, it is useful for getting a good idea on where Moon stands.

I tested Moon, Inferno, Vanilla, and React. Moon appears to be the fastest! Still, I think that when these are ran on the official js-framework-benchmark machine, the results will

[2019-07-01 13:22] coderofsalvation opened #251 "awesome build-less moon (+lazy load components?)"
Awesome project!
I was amazed how fast I could just get an index.html up and running, without having to install any transpiler (babel/webpack etc).

So instead of

[code]
It would support:

[code]

[code]

# Why?

Many times i need to livecode HTML. Having the scalability of single-file-components, and **not** having to use the cli really speeds up the production i my case.
Moon is so incredibly s

[2019-07-01 18:15] kbrsh commented on #251
Thanks for the feedback!

The next version will be a bit different than what you'd normally expect from a UI library, and it's API will look something like [this](https://twitter.com/kbrshah/status/1145107836147359746).

That version will support having any function as a component rather than single file components. You could still make single file components that export one view function however,

[2019-07-01 18:52] coderofsalvation commented on #251
very interesting!
The new approach seems to be very curryable as well.
Keep up the good work!

Leon

On Mon, Jul 1, 2019, 20:15 Kabir Shah <notifications@github.com> wrote:

[2019-07-01 19:12] LeviSchuck commented on #251
Oh definitely excited for the next api

[2019-07-01 19:15] kbrsh commented on #251
Glad to hear @coderofsalvation @LeviSchuck!

I've tried it out on some small components and experiments, and you're right haha — it's very curryable and it's super easy to create higher-order functions. Even though I created the new design, I haven't explored its full potential.

I just committed the changes in 265252ed8145ffc75c227ca3232ce1b0074fcfbc, definitely one of my larger commits. Feel fre

[2019-07-20 10:44] anonimusprogramus commented on #250
Hi Kabir and everyone..

Let's keep this discussion going on.

Bring you some ideas,

1. Moon provides **shorthand key** that will assign the right event based on the element type (like: @call instead of @click @submit or @change)

so, `<button @call={function()}>`, `<form @call={}`, `<select @call={}` etc

2. Moon provides official **Router** and **State Manager**. These two shall be required fir

[2019-07-20 12:32] kbrsh commented on #250
Hey @anonimusprogramus, thanks for the suggestions!

1. I’m not sure if this will be beneficial for code clarity and convenience because it can be ambiguous (e.g. `@click` vs `@dblclick`). I think being explicit with the event type is the way to go, but I’m curious as to what you think.
2. Moon _will_ have an official router and data driver. V1 has a [functional design](https://twitter.com/kbrshah

[2019-07-23 22:00] bkarlson opened #252 "is beta 3 production ready?"
Hello,
I just discovered MOON and am very excited to try it in a legacy project (as it's very hard to attach Vue or other full-blown library on top of that ol' good spaghetti :).

However I found that the latest MOON release is from 2018, but https://github.com/kbrsh/moon/blob/master/packages/moon/dist/moon.min.js is being quietly updated to beta 3.

Hence I wonder, is beta 3 safe to use in produc

[2019-07-24 21:56] kbrsh commented on #252
Hey!

I’d suggest sticking to beta 2 because beta 3 doesn’t have documentation yet. Documentation is the only thing left before beta 3 launches though, so it’s coming pretty soon!

However, one thing to keep in mind is that beta 3 will have a more [functional API](https://twitter.com/kbrshah/status/1145107836147359746) that will be quite different from what you’re likely used to. Keep that in mind

[2019-08-05 07:36] kbrsh commented on #250
Alright everyone, I finished most of the documentation! I still have to write examples and add more content to the landing page, but the bulk of the core documentation is done. On top of that, there is an interactive playground for trying Moon live in the browser.

Check it out here: [moon-v1.surge.sh](https://moon-v1.surge.sh).

Let me know what you think!

[2019-08-05 15:52] LeviSchuck commented on #250
The playground is pretty nice.

Though I wonder, how are you getting from tags-in-javascript to browser friendly js?
I'm used to the idea that JSX will transform this to a bunch of `React.creatElement` calls and that's usually made clear by their docs.

[2019-08-05 16:06] kbrsh commented on #250
@LeviSchuck It's the same thing as with JSX, but it is converted into `Moon.view.m` calls instead. It's explained in the [Under the Hood](https://moon-v1.surge.sh/doc/views.html#under-the-hood) section of the view guide. This compilation is handled by the `moon-compiler` package.

[2019-08-06 10:54] anonimusprogramus commented on #250
Well done @kbrsh !

Here's what I found (ymmv)

- The code's theme needs bigger font and a brigter color, especially comment, lil hard to read
-  It's a breaking change in concept (driver, state tree, functional approach), I need more time to chew :P
- <For> and <If> now in lowercase, love it!

[2019-08-06 17:54] kbrsh commented on #250
Thanks @anonimusprogramus!

I'll look into making it more readable using color. I'm not sure about the correct font size though, as other documentation sites usually use a size around 15px. It's small but meant to be dense.

And you're right, it's a very new concept and even I'm still discovering its' full potential, let me know how you feel about it :)

[2019-08-09 01:35] kbrsh commented on #252
[Beta 3 is out!](https://kbrsh.github.io/moon) As implied by the name, it's not production ready yet but it is fully documented and ready for use :)

[2019-08-09 01:35] #252 closed

[2019-08-09 01:36] kbrsh commented on #251
[Moon v1 beta 3 is out!](https://kbrsh.github.io/moon) :tada:

Let me know what you think — I'm closing this for now because I think it can be achieved through Promises and returning an intermediate loading state inside a component function.

[2019-08-09 01:36] #251 closed

[2019-08-09 01:37] kbrsh commented on #250
[Moon v1 beta 3 is out!](https://kbrsh.github.io/moon) :tada:

Let me know what you all think :)

[2019-08-09 01:38] kbrsh commented on #237
[Moon v1 beta 3 is supports getters and setters now](https://kbrsh.github.io/moon).

[2019-08-09 01:38] #237 closed

[2019-08-09 01:39] kbrsh commented on #232
[Moon v1 beta 3 is out](https://kbrsh.github.io/moon), and it uses Webpack and a new compiler. Let me know if it works.

[2019-08-10 11:12] bmix commented on #90
And what about all that legacy SVG code?

[2019-08-10 23:35] jhechtf opened #254 "Common Editor Support for Syntax"
So I went through the tutorial and while a lot of Moon is very JSX / React-like, there are certain things (like the `<for>` in Moon, which are very different. This can cause some strange issues in code editors that are unaware of the element.

If Moon is a serious development (which it appears to be) then creating some add-ons for syntax support for common editors (Sublime, VSCode, etc.) is likely

[2019-08-11 01:44] kbrsh commented on #254
Yup, this is definitely on the roadmap. If you'd like to build a syntax highlighter then go for it! I'd recommend building one for whichever editor you personally use. Creating a TextMate grammar should extend nicely to most editors. You should be able to build on top of a JSX syntax highlighter. Some differences are:

1. Moon elements require parenthesis around them.
2. Property keys can be empty

[2019-08-11 01:46] jhechtf commented on #254
Will look into it.

As an aside, any plans for TypeScript types?

On Sat, Aug 10, 2019, 18:44 Kabir Shah <notifications@github.com> wrote:

[2019-08-11 01:50] kbrsh commented on #254
There are no plans as of now to use TypeScript within Moon itself, and I may write types for the API — it's lower priority though. Right now I'm focusing on some official drivers, specifically the router and HTTP drivers.

[2019-08-12 06:21] jhechtf commented on #254
For TypeScript I was mostly referencing adding in a type definition for
people (like me) whose editors (VSCode) use that information automatically.
looking into grammars for VSCode. If I get something I'll link it on this
and submit a pull request to update the docs (add in a "Working with Moon
in your favorite editor" section or something)

On Sat, Aug 10, 2019 at 6:50 PM Kabir Shah <notification

[2019-08-12 07:56] kbrsh commented on #254
Yup, type definitions might be added but aren't top priority for now.

That's awesome! Feel free to add it in the "View" section if you end up adding to the docs. If not, I'll be happy to write them as well.

[2019-08-12 19:55] riiccardo commented on #250
C:\Users\SYSTEM\AppData\Roaming\npm\node_modules\moon-cli\dist\moon-cli.s:65
                                if (err) throw err;
                                         ^

Error: Command failed: tar -xzf C:\Users\SYSTEN\AppData\Roaming\npm\node_
modules\moon-cli\dist\moon-template.tar.gz -C D:\moon\wtf --strip=1
'tar' is not recognized as an internal or external command,
operable program or batch

[2019-08-12 20:00] kbrsh commented on #250
@riiccardo Looks like your version of Windows doesn't have `tar`. Moon CLI depends on `tar` being available, but I can maybe look into a fix. For now, the boilerplate template is available [here](https://github.com/kbrsh/moon-template) if you want to clone that instead.

[2019-08-12 22:45] anonimusprogramus commented on #250
Almost v1, please make Moon's twitter account, easier to tweet and be searched.

[2019-08-13 01:55] kbrsh commented on #250
@anonimusprogramus [@moonjs_](https://twitter.com/moonjs_)

[2019-08-17 16:44] riiccardo commented on #250
Hey @kbrsh
pls include more example in `single-file-components` in [moon-template](https://github.com/kbrsh/moon-template)
how to `Moon.use` and `Moon.run(Root);` **(separate Data for a  component)** in another js file like `Todo.js`
and import in `Index.js` html view like

[code]

[2019-08-17 17:23] kbrsh commented on #250
@riiccardo Components don't have local state and shouldn't use `Moon.use` or `Moon.run`. Those are in `index.js` because they are only ran once to kick off the application.

If you want to make a component, then it will look just like `Index.js` and `Index.css`. You can import them and use it as a view. I'd recommend checking out the [guide](https://kbrsh.github.io/moon/doc/guide.html) for more in

[2019-08-20 21:01] LeviSchuck commented on #247
It took me a moment, but it's really dang simple to introduce external events and APIs if you have

* Just 1 top level View component
* Just 1 data field driver thing

With the TODO's example, I was able to have it auto-add tasks every 3 seconds, a simulated event source.

[code]

[2019-08-21 00:07] kbrsh commented on #247
@LeviSchuck Cool!

I'd suggest moving `setInterval` to a driver though. The next beta has the ability to do this through the built-in `time` driver. It'll let you do this:

[code]

By the way, immutability is _encouraged_, not _required_. It's just to help make functions more concise and easier to understand, but you are free to do whatever you want, as long as you return a variable `data` for Moo

[2019-08-21 02:27] LeviSchuck commented on #247
I actually based this from the time code currently in the repository. My intent was to figure out how to make graphql requests, and to modify the data accordingly. Still working on that.

I have yet to grasp fully what drivers mean in the new moon, though the minimal source code makes it easier to make progress on my own.

[2019-08-21 03:19] kbrsh commented on #247
Glad to see the source is a bit easier to understand — drivers are just objects with `input` and `output` functions. `input` provides data from outside sources (maybe a graphQL result), and `output` takes a value and does some effect with it.

A GraphQL driver might look like:

[code]

[2019-08-22 00:01] LeviSchuck commented on #247
Thank you! I've created a successful example.
It queries Pikachu's moves from the public pokemon demo graphql api, modifies the data, re-renders.

https://github.com/LeviSchuck/moon-graphql

![pokemons](https://user-images.githubusercontent.com/245911/63476289-04469480-c446-11e9-8e6b-81899c426f52.gif)

[2019-08-23 21:02] LeviSchuck opened #255 "Some attributes have to be set by attribute and not by DOM"
Well, this was a funky roadblock.

Apparently the `list` attribute on `input` elements is read only, and has to be set by element attribute instead.

Similar can be found on https://github.com/aurelia/framework/issues/646#issuecomment-257461216

The sample in https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist has been modified to be compatible with the moon compiler.

You can repro

[2019-08-24 01:41] LeviSchuck opened #256 "Moon compiler does not apply DOM event listeners or attributes to created element by for"
The `for` element creates an element in its place, but unfortunately the other non-for-like attributes and events are not planted on the created element.

For example, a click event and id are not replicated to the `ul` which is created in the place of the `for` when compiled.

A minimal example, which can be demonstrated in the playground is included below.

[code]

----

I ran into this when try

[2019-08-24 02:48] kbrsh commented on #256
Hey!

Thanks for the detailed testing and bug reports by the way, it really helps :)

`for` takes a `data` prop as an object which it will apply as data, and it doesn't apply DOM properties with `...props` or something similar to avoid unexpected behavior.

Try something like:

[code]

I've considered DOM fragments before, but came across issues with the logic to remove them from the DOM. There is

[2019-08-24 02:51] kbrsh commented on #255
This is interesting! I've tried looking into finding attributes that can't be set with DOM properties, but I didn't come across any.

I'm not sure what the ideal workaround is. Maybe something like `attr-<key>`, but I would like to avoid adding another check in the logic for creating, updating, and removing properties for super specific attributes. I'll also consider something like `ref` to give a

[2019-08-24 02:57] anonimusprogramus commented on #250
Hi Kabir,

is Moon going to use that Capitalized Index.js or Index.css naming?

I agree with Components, but with files, what if Moon sticks with lowercase?

I mean, just like if/else/for that now lower-ed, file name isn't new things too.

What do you think? Thanks

[2019-08-24 03:03] kbrsh commented on #250
@anonimusprogramus It's just convention, since the `Index.js` file exports a component named `Index`. Capital letters is how Moon detects components, and builtins are all lowercase. It's just like React (even the file naming convention), and you don't have to follow it if you don't like it :)

[2019-08-24 03:31] LeviSchuck commented on #256
Wonderful! I have verified this gives the intended behavior. Although, I found this to be surprising from an API standpoint.

I can see why fragments would complicate dom operations.

[2019-08-24 03:41] kbrsh commented on #256
Awesome! It can be a little surprising, but I personally think that it's better than having conflicts with other DOM property names. For example, you wouldn't be able to set a `name` attribute on an element because it it used for the name of the element instead.

[2019-08-25 19:54] ghostss2016 opened #257 "ubuntu 16 fasnetmoon"
Устанавливается , но не показывает данные,
lsmod | grep pf_ring
результатов не дает.
Что делать?

[2019-08-25 21:11] kbrsh commented on #257
I don't speak Russian, but it looks like you're having trouble with Moon CLI? Some screenshots of code or the problem would help.

[2019-10-13 23:05] kbrsh commented on #256
Closing as it works as documented — let me know if you have any suggestions to change the API.

[2019-10-13 23:05] #256 closed

[2019-10-13 23:05] kbrsh commented on #257
Closing due to inactivity. Let me know if you still have the issue and provide some screenshots or code so I can help you :)

[2019-10-13 23:05] #257 closed

[2019-10-16 09:04] sandorTuranszky commented on #250
Any plans to use TypeScript?

[2019-10-17 23:43] kbrsh commented on #250
@sandorTuranszky There are currently no plans to rewrite Moon in Typescript.

[2019-10-21 06:01] riiccardo opened #264 "use moon in browser"
hey @kbrsh I really need help

in a Project, I have to use the `moon` in browser
but actually I don't have any idea how to use it

there are two formats in moon can use it through the browser

1. requirements ( `moon` and `moon-browser` )
[code]

2. requirements ( `moon-mvl` and `idk` )
[code]

I want to use `format 2` but

Please explains `Two ways`
to how to use it in browser

and how to add `mo

[2019-10-22 08:20] kbrsh commented on #264
Format 2 is not supported anymore, and Moon's view language is just an extension of JavaScript instead. You can make a JavaScript file called `index.js` and link to it using `moon-browser`, and you will be able to use format 1 as usual.

[code]

This change was made to better represent views as pure functions. The view language is just another syntax for function calls, and you can make functions

[2019-10-22 15:18] riiccardo commented on #264
here my `index.html` file

[code]

and `index.js`

[code]

[code]

[code]

all codes with moon-browser are compiled except `Moon.data.driver`

[code]

[2019-10-22 16:26] riiccardo commented on #264
can u Accept `PR` for Documents you haven't noticed or u add it ?

1. like u have to run moon-browser with `localhost`
2. use new moon instead of mvl
3. more example of single-file-components(cli template) and moon-browser
4. update `dataset`, `ariaset`, `style` with events like click or others
[code]
5. if I have multiple pages and each page have special data like `index.html`, `about.html`, `pos

[2019-10-22 23:58] kbrsh commented on #264
1. This is a given because `moon-browser`, or any script for that matter, cannot access the file system. It's a security risk.
2. The old way is never mentioned in the documentation, only the new way.
3. I'll definitely work on more examples once I get some more drivers done.
4. This can be done by making an HTML attribute like `dataset={foo}` and then updating `foo` with the data driver in an `@c

[2019-10-23 06:00] riiccardo commented on #264
I'm using `VsCode LiveReload Extensions` for running `moon` and `moon-browser`
but still, have this problem

[code]

NVM

this is deployed project with same code on the document

http://moon-browser.surge.sh/

go and check the console

[2019-10-23 06:35] kbrsh commented on #264
You're not using the latest stable version of Moon — you're using the version from the `master` branch, which is unstable. If you want stable builds, download them from the [releases](https://github.com/kbrsh/moon/releases), NPM, or a CDN.

[2019-10-23 06:52] riiccardo commented on #264
How should I know that I should not use the new version?
worked with `v1.0.0-beta.3`

[2019-10-23 07:16] kbrsh commented on #264
It works with beta 4 as well, the problem is that you're not using the latest beta. You're using the build directly from the `master` branch, which is unstable and undocumented. You'll need to download it directly from the releases, NPM, or a CDN like `unpkg`.

[2019-10-23 07:18] #264 closed

[2019-12-08 03:56] raydf opened #265 "How to apply DRY principles in example code"
In the examples for the main website there's the TODO App. How can one use DRY principles for removing the duplicated code?

[code]

[code]

https://kbrsh.github.io/moon/play

[2019-12-08 04:01] raydf opened #266 "Any thoughts on hydrating data with SSR"
Hi:

Any thoughts on hydrating data when creating an SSR rendering. I'll love to have an express server generating on server side the complete view (Maybe i'll use puppeteer - https://github.com/puppeteer/puppeteer). Where should i hydrate the data? from my simple understading i believe something like this could work:

[code]

[2019-12-08 09:16] kbrsh commented on #266
Something like that would work, but Moon doesn't currently support hydration and the view driver expects the root element to be empty. If hydration were to be added, would you prefer it being added before or after v1 stable is released?

[2019-12-08 09:25] kbrsh commented on #265
You can make a function that returns both new data and a new view, like this:

[code]

[2019-12-08 20:09] raydf commented on #266
I love the work you have been doing on the framework. Do you have a roadmap and a release date for the framework?. I'll love to have a view driver with hydrated data but is up to you to figure out the correct order of implementation. I'll try to give opinions on missing features and maybe i could help a little bit, i'm just starting to grasp a lot of the functional programming concepts.

[2019-12-08 20:22] raydf commented on #265
Nice, thanks for the info. I thought you had some shortcuts utility functions for this kind of repetitive code.

[2019-12-09 00:53] kbrsh commented on #266
Thank you! I'm not sure yet as it would require another driver that renders views to strings. Any feedback or help is greatly appreciated — I'd recommend you join the [Slack](https://moon-slack.herokuapp.com/) if you haven't already. I can answer any questions or help with contributing if you'd like :)

[2019-12-09 00:57] kbrsh commented on #265
No problem. Utility functions for things like this usually end up being too specific. For example, this wouldn't really work if you were using more drivers (such as `time` or the new `http` driver). I would just encourage using the standard functional programming technique to stay DRY — creating functions!

[2019-12-09 00:57] #265 closed

[2019-12-21 02:04] kbrsh commented on #234
I removed the semicolon a while ago so this should be working now :)

[2019-12-21 02:04] #234 closed

[2019-12-21 02:05] kbrsh commented on #220
Algolia search was recently removed due to the small API size, I'll reopen if we need to add it again.

[2019-12-21 02:05] #220 closed

[2019-12-21 02:34] kbrsh commented on #232
Moon now does not resolve any paths on its own, so this shouldn't be an issue.

[2019-12-21 02:34] #232 closed

[2019-12-26 03:18] kbrsh commented on #255
I added a new property type that allows you to set attributes like this:

[code]

Note that this uses a new syntax that allows any literal in attribute values. These should be coming in the next beta (which should hopefully be the last one).

[2019-12-26 03:20] kbrsh commented on #240
A router driver is now implemented and tested in the `master` branch, and it should be coming in the next beta. I'll close this once it releases.

[2020-01-02 12:38] kimlombard commented on #240
Hi Kabir,

Thanks for the update! Here's wishing you a fantastic year ahead and
looking forward to your progress.

Kind regards,

Kim

On Thu, Dec 26, 2019 at 5:20 AM Kabir Shah <notifications@github.com> wrote:

--
*Nimble Typing Services*
Kim Lombard, Samantha Irving Brown

Email: kimleigh.lombard@gmail.com
Landline: +27 41 466 0223
Mobile: +27 60 337 0879
Skype: kimleigh.lombard

Email: samanth

[2020-01-02 21:26] kbrsh commented on #240
Thank you, happy new year! I think I'll be finally releasing v1 this year :)

[2020-01-07 05:43] kbrsh commented on #255
`attributes` was added in Moon v1 beta 5

[2020-01-07 05:43] #255 closed

[2020-01-07 05:44] kbrsh commented on #240
Moon v1 beta 5 now has a [route driver](https://moonjs.org/route).

[2020-01-07 05:44] #240 closed

[2020-02-10 00:47] KsRyY commented on #250
Is there any plans to provide a TypeDcript declaration file? If there's no declaration provided for TypeScript, it will be hard to use Moon in TypeScript.

[2020-09-08 14:53] haikyuu commented on #250
Great library and clean concepts. Good luck with the future.

I saw there are no plans to rewrite this library in typescript. And that's to be expected. It's hard to justify a rewrite.

But I was thinking about using Typescript to write moon UIs. I see this can be problematic since moon uses its proper language. But since typescript supports JSX out of the box, this can be achieved.

The other adv

[2020-09-08 15:42] kbrsh commented on #250
@haikyuu Thank you!

TypeScript support and integration is definitely something to have on the roadmap once Moon is more stable. Like you said, it'll help with adoption and make Moon more approachable to existing apps.

And you're totally right about a `mobile` driver! Something like that should be possible to do with Moon, although I don't have too much experience with developing native mobile st

[2020-09-08 20:57] lejonmanen opened #269 "Fix environment variables on Windows"
Summary: when you have installed and run the dev script in a Windows environment, you get an error message. This is because Windows terminals does not accept NODE_ENV="development". The package cross-env can be used to solve this.

Suggested fix:
Add cross-env to the generated package.json file and modify the scripts.
`"scripts": {
  "dev": "cross-env NODE_ENV=\"development\" webpack-dev-server --

[2020-09-08 22:30] GST998 opened #270 "没问题，只是开一下而已!"

[2020-09-08 23:55] #270 closed, assigned to nobody

[2020-09-09 00:31] quangti commented on #270
hi

[2020-09-09 20:25] GST998 commented on #270
请问有什么问题吗？

[2020-09-15 13:46] nottledim opened #271 "Just trying example - syntax error"
Using minimal snippet from example:
[code]
Results in:
[code]

[2020-09-15 13:54] HaxSam commented on #271
Hey you forgot to define viewTodos

[code]

Also you have to say witch elements do you want to use with

[code]

But for the next time rtfm

[2020-09-15 14:18] nottledim commented on #271
Yes, but I still get a syntax error with the full code (or your additions).

But for the next time rtfm

I'm trying

Thanks for your help.

[2020-09-16 03:15] kbrsh commented on #271
In Moon, self closing tags must be specified with a closing `/>`. Also, arrow functions need parentheses around the return value if it's an object (this is a JS syntax thing, not moon).

Try this:

[code]

[2020-09-16 08:21] nottledim commented on #271
It probably was that closing tag, I didn't see that.  It was code copied from a example in a blog.  When I replaced it with the similar code on the moon website it worked.   I misread the browser error message as an error with the library ;-)  Live and learn.
I'm sorry to have wasted your time.

[2020-09-16 16:11] kbrsh commented on #271
@nottledim Don't worry about it! It took me a while to see the error too, the object return syntax always gets me. As for Moon, better syntax errors are coming in the next beta. Hope you enjoyed trying it out! :)

[2020-09-16 16:11] #271 closed, assigned to nobody

[2020-09-18 14:12] mrEvgenX opened #272 "How to reset recursive time driver"
I need to increase counter by timer, then go to another view `goSeeingCounted` to see result for further processing.
Seems recursed timer is unstoppable. Any help?

Example of code to be fixed ([playground](https://moonjs.org/play/#const%20%7B%20div%2C%20p%2C%20button%20%7D%0A%09%3D%20Moon.view.m%3B%0A%0Aconst%20goSeeingCounted%20%3D%20(%7B%20data%20%7D)%20%3D%3E%20%7B%0A%20%20return%20%7B%0A%09%2

[2020-09-19 02:33] kbrsh commented on #272
This is a good exercise. Thanks for posting it, I think some revisions I have of Moon's API can help the ergonomics of things like this. The main problem is that `tick` outputs to a driver which sets a timeout, so setting `time: undefined` won't cancel any previous timeouts already set. The logic will have to go into `tick` or another function. Here's a quick way I was able to get it working:

[co

[2020-09-25 05:20] kbrsh commented on #269
Good catch! This functionality was lost somewhere in a rewrite. This change would go in [moon-template](https://github.com/kbrsh/moon-template). If someone wants to make a PR there, feel free (this is a good first issue I think)! I'll get that fixed with the next release. :raised_hands:

[2020-09-29 03:28] mrEvgenX commented on #272
Thanks for your solution. It look quite well and works nice. But another problem begins if I increase delay up to, say, 3 seconds and add the next step. Please, take a look at an example in [playground](https://moonjs.org/play/#const%20%7B%20div%2C%20p%2C%20button%20%7D%0A%09%3D%20Moon.view.m%3B%0A%0Aconst%20goSeeingCounted%20%3D%20(%7B%20data%20%7D)%20%3D%3E%20(%7B%0A%09data%3A%20%7B...data%2C%20

[2020-09-29 06:26] kbrsh commented on #272
@mrEvgenX Ah I see, you're right, this is lacking too much elegance for my liking as well. First off, I'd like to thank you for both creating and extending this issue — it has pushed me to rethink of how Moon's functional approach can be used more practically. This is a perfect candidate for a new app structure and API I've been conceptualizing for the past few weeks. I [tweeted](https://twitter.c

[2020-10-01 20:14] kotpal opened #273 "Is this project active or dead?"

[2020-10-04 20:14] kbrsh commented on #273
It's active! Most progress is on other branches so it may not seem that way. I also don't get as much time as I'd like to work on Moon because of school :/

[2020-10-04 20:14] #273 closed, assigned to nobody

[2020-10-12 02:18] ryansolid commented on #236
The reason for a library to implement keyed loops is to preserve DOM state rather than library state.

[2020-10-12 06:39] kbrsh commented on #236
Actually, Moon aimed to have mechanisms for storing DOM state directly within vnodes, moving the responsibility of maintaining DOM state to the developer (e.g. a `focus` prop). I realized that it wasn't exactly practical, so a keyed algorithm is back on the roadmap.

[2020-12-21 14:07] j354374 commented on #250
Do I need to put the ugly HTML in my code or can I use things like:

[code]
I want to avoid using the dependencies in React and avoid using anything that looks like JSX as I want to make my code look nice. Is moonjs right for me?

[2022-02-13 07:10] #247 closed